@model AgilePackage.Web.App.ViewModels.ConfirmPasswordRecoveryDto 
@{
    ViewData["Title"] = "Sent - Password recovery - Agile Package";
}
<div class="container">
    <div class="main">
        <div class="row justify-content-center mb-3">
            <div class="col">
                <h1 class="font-size-xlg font-weight-normal text-align-center font-special">
                    Email sent to you. Check your inbox!
                </h1>
            </div>
        </div>
    </div>
</div>
<style>
    .main {
        max-width: 350px;
        margin-right: auto;
        margin-left: auto;
    }
</style>