@{
    ViewData["Title"] = "Create - Subscription - Agile Package";
}

<div class="row justify-content-center mb-3">
    <div class="col-auto">
        <h1 class="text-align-center font-special font-size-xlg font-weight-normal">
            Congratulations,
            <br />
            account created!
        </h1>
    </div>
</div>
<div class="row justify-content-center mb-5">
    <div class="col-auto">
        <p class="text-align-center font-special font-size-lg">
            Click below to complete your subscription
            <br />
            on our partner Stripe
        </p>
    </div>
</div>
<div class="row justify-content-center">
    <div class="col-auto">
        <a class="btn" asp-action="Session">
            Let's go
        </a>
    </div>
</div>
