@{
    ViewData["Title"] = "Error - Subscription - Agile Package";
}

<div class="row justify-content-center mb-3">
    <div class="col-auto">
        <h1 class="text-align-center font-special font-size-xlg font-weight-normal">
            Something went wrong
        </h1>
    </div>
</div>
<div class="row justify-content-center mb-5">
    <div class="col-auto">
        <p class="text-align-center font-special font-size-lg">
            You went back from the subscription page
        </p>
    </div>
</div>
<div class="row justify-content-center">
    <div class="col-auto">
        <a class="btn" asp-action="Session">
            Go back to subscription
        </a>
    </div>
</div>
