@model AgilePackage.Web.App.ViewModels.SessionRedirectViewModel
@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration
@{
    ViewData["Title"] = "Redirecting - Subscription - Agile Package";
    string stripePublicKey = Configuration["Stripe:PublicKey"];
}
<script src="https://js.stripe.com/v3/"></script>
<div class="row justify-content-center mb-5">
    <div class="col-auto">
        <p class="text-align-center font-special font-size-lg">
            You will be redirected soon...
        </p>
    </div>
</div>
<script>
    let stripe = Stripe("@stripePublicKey")
    stripe.redirectToCheckout({ sessionId: "@Model.SessionId" })
</script>
